<h1>Ironhack Cinema</h1>
<p>click on the movie to check the showtimes!</p>
{{#each allMovies}}
<img src="{{image}}" alt="{{name}} Image">
  <h2>{{title}}</h2>
  <a href="/movie/{{id}}">see more</a>
{{/each}}